<div [style.display]="characterClicked ? 'none' : 'all'">	
	<p>Choose Your Character</p>
	<div 
		*ngFor="let name of characterNames"
		style="display: inline-flex;"
	>
		<div class="row">
			<img 
				(click)="onSelect($event, name.name)" 
				style="width: 100px; height: 100px" 
				[src]="name.img"
			/>
			<p>{{name.name}}</p>
		</div>
	</div>
</div>
<div [style.display]="characterClicked ? '' : 'none'">	
	<p>Hello</p>
	<div>
		<div class="row">
			<img 
				style="width: 100px; height: 100px" 
				[src]="characterSelected ? characterSelected.img : ''"
			/>
			<p>{{characterSelected ? characterSelected.name : ''}}</p>
		</div>
	</div>
</div>